
.banner{
   display: flex;
   justify-content:space-between;
   width: 1800px;
   height: 850px;
   background-color: rgba(229, 84, 115, 0.10);

}
.banner-contend{

display: flex;
justify-content: space-between;



}

.banner-elemant{

  align-items: center;
  margin: 200px 50px 100px 150px;
}
.banner-taitle{
    font-size: 50px;
    margin: 0px 10px 10px 0px;
}
.banner-parahgrap{

    margin: 15px 5px 15px 0px;
    font-size: 18px;
}
.banner-pic{
 align-items: center;
 margin: 50px 20px 0px 20px;
 margin-bottom: 0px;
 color:rgba(152, 44, 68, 0.1) ;

}

.banner-btn{
    background-color: rgb(234, 109, 64);
    font-size: 30px;
    color: white;

}
/* our feature flower section*/


.head-taitle{

text-align: center;
margin: 100px 0px 10px 0px;

}

.Featured-contend{

    display: flex;
    align-items: center;
    margin: 40px 0px 40px 0px;
    padding: 20px 20px 20px 20px;
    justify-content: center;
    background-color: beige;

}

.flower-taitle{

    text-align: center;
    margin: 0px 0px 10px 0px;
   
}
.Featured-pic{

align-items: center;
justify-content: center;


}

.head-taitle1{

    text-align: center;
    font-size: 16px;
}

/* unnon sesion*/
.unnon{
    display: flex;
    justify-content: center;
    margin: 30px 30px 30px 30px ;
}


